.app__Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 63rem;
  overflow-y: scroll;
  padding: 0.5rem; }

.portfolio .container .title {
  position: relative; }
  .portfolio .container .title h2::after {
    position: absolute;
    width: 5rem;
    height: 0.3rem;
    background: #149ddd;
    left: 0;
    top: 2.5rem;
    content: ""; }
