.about {
  .container {
    .title {
      position: relative;
      h2 {
        &::after {
          position: absolute;
          width: 5rem;
          height: 0.3rem;
          background: #149ddd;
          left: 0;
          bottom: 3rem;
          content: "";
        }
      }
    }
  }
}