.portfolio__Item {
  position: relative;
  // border: 1px solid red;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  // aspect-ratio: 1/1;
  border-radius: 0.2rem;
  box-shadow: 1px 3px 10px #000;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .title {
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.8);
    width: 100%;
    text-align: center;
    color: white;
    padding: 0.5rem 0;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}