.btn-tags {
  background-color: #149ddd;
  :hover {
    background-color: #1bdd14 !important;
  }
}


.app__Grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  // height: 63rem;
  // overflow-y: scroll;
  // padding: 0.5rem;
}
